body {
  margin: 0;
  background-color: #1f1f1f;
}

header {
  border-block: 1px solid black;
  background-color: #1f1f1f;

  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;

    h1 {
      margin: 0;
      font-size: 3.25rem;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.1rem;
  border-block: 1px solid black;
  background-color: #1f1f1f;
  color: white;
}

.fa-brands {
  font-size: 2.25rem;
}
