header {
  border-bottom: 3px solid darkred;
  background-color: #1f1f1f;
}

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;

  a {
    margin: 0.45rem;
    color: white;
  }
}

body {
  margin: 0;
  background-color: color-mix(in srgb, white 10%, #1f1f1f 90%);
}

footer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.5rem;
  border-top: 2px solid darkred;
  background-color: #1f1f1f;
  color: white;
}

.fa-brands {
  margin-block: 1.5rem;
  font-size: 2.25rem;
}