h1 {
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background-color: #1f1f1f99;
  font-size: 2rem;
  color: white;
}

h3 {
  display: table;
  margin: 0 auto;
  margin-top: 1.625rem;
  padding-inline: 1rem;
  padding-block: 0.125rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #1f1f1f;
}

code {
  padding: 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  background-color: black;
  border-radius: 0.3rem;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-block: 1rem;
  font-weight: bolder;
  color: gold;
  background-color: #1f1f1f;
  border-color: silver;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 2rem;
  color: white;

  img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 2px solid darkred;
    border-radius: 100%;
  }
}

.biography {
  padding: 1rem;
  border: 2px solid darkred;
  border-radius: 0.75rem;
  background-color: #1f1f1f;
  font-size: 1.125rem;
}

.description-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  background-color: #1f1f1f;
  color: white;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 2rem;
  margin-block: 0;
  padding: 2rem;
  overflow-x: scroll;
  border-block: 2px solid darkred;
  background-color: #1f1f1f99;
  list-style: none;

  a {
    color: white;
  }

  li {
    align-content: center;
  }

  img {
    max-height: 480px;
    border: 1px solid black;
    border-radius: 0.75rem;
  }

  img:hover {
    scale: 110%;
  }
}

.README {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid darkred;
  border-radius: 0.75rem;
  background-color: #1f1f1f;
}