.overview {
  display: flex;
  justify-content: space-around;

  .box {
    .README {
      color: white;
    }
  }
}

.file-preview {
  border: 1px solid black;
  border-radius: 0.75rem;
  background-color: #3f3f3f;
}
