/* body {
  background-image: url(/assets/carbon\ fiber_bump.png);
  background-blend-mode: multiply;
  background-size: 192px;
  background-repeat: repeat;
} */

img {
  width: 100%;
  max-width: 480px;
  border-radius: 0.25rem;
}

code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  background-color: #ffffff50;
  border-radius: 0.3rem;
}

.overview {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-end;
  color: white;

  .clearfix-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 2rem;

    .README {
      margin-top: 2rem;
      padding-inline: 2rem;
      border: 2px solid darkred;
      border-radius: 0.75rem;
      background-color: #1f1f1f;
    }

    .content {
      padding: 1rem;
      border-radius: 0.75rem;
      border: 2px solid lightgrey;
      background-color: color-mix(in srgb, white 50%, #1f1f1f 100%);
      font-size: 1.125rem;
    }
  }

  .file-preview {
    max-width: 480px;
    margin-top: 2rem;
    margin-inline: 2rem;
    border: 2px solid darkred;
    border-radius: 0.75rem;
    background-color: #1f1f1f;
    flex: 1;
  }
}