.overview {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-end;
  color: white;

  img {
    width: 100%;
    max-width: 480px;
    border-radius: 0.25rem;
  }

  .clearfix-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    margin-bottom: 2rem;
    flex: 1;

    .content {
      display: none;
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 0.75rem;
      border: 2px solid lightgrey;
      background-color: color-mix(in srgb, white 50%, #1f1f1f 100%);
      font-size: 1.125rem;
    }
  }

  .file-preview {
    max-width: 480px;
    margin-top: 2rem;
    margin-inline: 2rem;
    border: 2px solid darkred;
    border-radius: 0.75rem;
    background-color: #1f1f1f;
    flex: 1;
  }

  .navigation {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}
