body {
  background-image: url("/assets/carbon fiber_bump.png");
  background-size: 192px;
  background-repeat: repeat;
  background-blend-mode: multiply;
}

main {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: flex-end;
  color: white;

  .content-README {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    max-width: 1280px;
    margin: 2rem;

    .content {
      display: none;
      padding: 2rem;
      border: 2px solid lightgrey;
      border-radius: 0.75rem;
      background-color: color-mix(in srgb, white 50%, #1f1f1f 50%);
      font-size: 1.125rem;
    }

    .README {
      padding: 2rem;
      border: 2px solid darkred;
      border-radius: 0.75rem;
      background-color: #1f1f1f;
      font-size: 16px;
      line-height: 2.25;

      code {
        padding: .1em .4em;
        border-radius: 6px;
        background-color: black;
        color: steelblue;
        font-family: "Mona Sans VF", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans Backtick Fix", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        text-decoration: none;
      }

      img {
        width: 100%;
        max-width: 320px;
        border-radius: 0.25rem;
      }
    }
  }

  .file-preview {
    max-width: 480px;
    margin-top: 2rem;
    margin-inline: 2rem;
    padding-bottom: 1.5rem;
    border: 2px solid darkred;
    border-radius: 0.75rem;
    background-color: #1f1f1f;

    h1 {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      padding-bottom: 1rem;
      line-height: 2.25;
    }

    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-block: -1.5rem;
      padding-top: 1.5rem;

      button {
        width: 5rem;
        aspect-ratio: 1;
        margin-bottom: 1.5rem;
        border-color: silver;
        border-radius: 100%;
        background-color: #1f1f1f;
        color: gold;
        font-weight: bolder;
        cursor: pointer;
      }
    }
  }
}

.toast {
  display: flex;
  justify-content: center;
  margin: 2rem;

  h1 {
    padding: 1rem;
    border: 2px solid darkred;
    border-radius: 0.75rem;
    background-color: #1f1f1f;
    color: white;
  }
}