<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Allie Gonzales | Portfolio</title>
    <link rel='stylesheet' href='/css/index.css'></link>
  </head>
  <body style="background-image: url(/assets/meizhi-lang-FkeX3sPH22g-unsplash.jpg);">
    {% include "layouts/header.html" %}
      <p class="site-footer" style="display: flex; justify-content: center; margin: 0; color: white; background-color: darkred;">Under construction! 🚧</p>

    <div class="hero">
      <img src="assets/43455846.jpg">
      <div class="biography">
        <p>I'm a maker and independent learner. I make content in several different mediums, because I am always excited to learn new skills and disciplines!</p>
      </div>
    </div>

    <div class="main-content">
      <ol class="document">
        <div class="description-left">
          <h2>Documents</h2>
          <p>Printable reference material for software.</p>
        </div>
        {%- for documents in collections.documents reversed -%}
          <li>
            <a href="{{ documents.url}}">
              <img alt="{{ documents.data.description }}" src="{{ documents.data.preview-image }}">
              <h3>{{ documents.data.title }}</h3>
            </a>
          </li>
        {%- endfor -%}
      </ol>

      <div style="height: 2rem;"></div>

      <ol class="model">
        <div class="description-left">
          <h2>CAD Projects</h2>
          <p>3D model projects.</p>
        </div>
        {%- for models in collections.models reversed -%}
          <li>
            <a href="{{ models.url}}">
              <img alt="{{ models.data.description }}" src="{{ models.data.preview-image }}">
              <h3>{{ models.data.title }}</h3>
            </a>
          </li>
        {%- endfor -%}
      </ol>
    </div>

    <div style="height: 2rem;"></div>

    {% include "layouts/footer.html" %}
  </body>
</html>
