<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ metadata.title }}</title>
  <meta name="description" content="{{ metadata.description }}" />
  <link rel="icon" type="image/svg" href="/favicon.svg" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body style="background-image: url(/assets/meizhi-lang-FkeX3sPH22g-unsplash.jpg)">
  {% include "layouts/header.html" %}

  <div class="hero">
    <img src="assets/43455846.jpg" />
    <div class="biography">
      <p>
        I'm a maker and independent learner. I make content in several
        different mediums, because I am always excited to learn new skills and
        disciplines!
      </p>
    </div>
  </div>

  <div class="main-content">
    <ol class="carousel">
      <div class="description-left">
        <h2>CAD Projects</h2>
        <p>3D model projects.</p>
      </div>
      {%- for models in collections.models -%}
      <li>
        <a href="{{ models.url}}">
          <img alt="{{ models.data.description }}" src="{{ models.data.cover }}" />
          <h3>{{ models.data.title }}</h3>
        </a>
      </li>
      {%- endfor -%}
    </ol>
  </div>

  <div style="height: 2rem"></div>
  <ol class="carousel">
    <div class="description-left">
      <h2>Documents</h2>
      <p>Printable quick reference material for software.</p>
    </div>
    {%- for documents in collections.documents reversed -%}
    <li>
      <a href="{{ documents.url}}">
        <img alt="{{ documents.data.description }}" src="{{ documents.data.cover }}" />
        <h3>{{ documents.data.title }}</h3>
      </a>
    </li>
    {%- endfor -%}
  </ol>

  <div style="height: 2rem"></div>
  <ol class="carousel">
    <div class="description-left">
      <h2>Note Cards</h2>
      <p>Printable quick reference material.</p>
    </div>
    {%- for note-cards in collections.note-cards -%}
    <li>
      <a href="{{ note-cards.url}}">
        <img alt="{{ note-cards.data.description }}" src="{{ note-cards.data.cover }}" />
        <h3>{{ note-cards.data.title }}</h3>
      </a>
    </li>
    {%- endfor -%}
  </ol>

  <div style="height: 2rem"></div>
  <ol class="carousel">
    <div class="description-left">
      <h2>Software</h2>
      <p>Software and plugins.</p>
    </div>
    {%- for software in collections.software -%}
    <li>
      <a href="{{ software.url}}">
        <img alt="{{ software.data.description }}" src="{{ software.data.cover }}" />
        <h3>{{ software.data.title }}</h3>
      </a>
    </li>
    {%- endfor -%}
  </ol>

  <div style="height: 2rem"></div>

  {% include "layouts/footer.html" %}
</body>

</html>