---
layout: layouts/base.html
---
<div class="hero">
  <img src="{{ metadata.author.avatar }}" alt="{{ metadata.author.name }} profile photo" />
  <div class="profile">
    <h1 class="name">{{ metadata.author.name }}</h1>
    <p class="username">{{ metadata.author.username }}</p>
    <p class="biography">{{ metadata.description }}</p>
  </div>
</div>

<div class="main-content">
  {% for section in metadata.sections %}
    {% if section.reversed %}
      <ol class="carousel">
        <div class="description-left">
          <h2>{{ section.title }}</h2>
          <p>{{ section.description }}</p>
        </div>
        {% for item in collections[section.tag] reversed %}
        <li>
          <a href="{{ item.url }}">
            <img alt="{% if item.data.description %}{{ item.data.description }}{% else %}{{ item.data.title }} preview{% endif %}" src="{{ item.data.cover }}" />
            <h3 class="carousel-item">{{ item.data.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ol>
    {% else %}
      <ol class="carousel">
        <div class="description-left">
          <h2>{{ section.title }}</h2>
          <p>{{ section.description }}</p>
        </div>
        {% for item in collections[section.tag] %}
        <li>
          <a href="{{ item.url }}">
            <img alt="{% if item.data.description %}{{ item.data.description }}{% else %}{{ item.data.title }} preview{% endif %}" src="{{ item.data.cover }}" />
            <h3 class="carousel-item">{{ item.data.title }}</h3>
          </a>
        </li>
        {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
</div>