<script src="https://kit.fontawesome.com/b40ef46d77.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/assets/css/bundle.css'></link>
<link rel='stylesheet' href='/assets/css/compass-theme.css'></link>
<header>
  <div class="page-header">
    <a href="/">
      <h1>Allie Gonzales</h1>
    </a>
    <div>
      <a href="https://github.com/EvokeMadness">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/allie-gonzales-8a1954209/">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://linktr.ee/EvokeMadness">
        <i class="fa-brands fa-linktree"></i>
      </a>
    </div>
  </div>
</header>