h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background-color: #1f1f1f99;
  font-size: 2rem;
  color: white;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 2rem;

  img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 1px solid black;
    border-radius: 100%;
  }

  .biography {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.75rem;
    background-color: #1f1f1f;
    font-size: 1.125rem;
    color: white;
  }
}

.description-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  background-color: #1f1f1f;
  color: white;
}

.document-post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 2rem;
  margin-block: 0;
  padding: 2rem;
  overflow-x: scroll;
  border-block: 1px solid black;
  background-color: #1f1f1f99;
  list-style: none;

  h3 {
    display: table;
    justify-content: center;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-block: 0.125rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #1f1f1f;
  }

  a {
    color: white;
    text-decoration: none;
  }

  img {
    max-height: 480px;
    border: 1px solid white;
    border-radius: 0.75rem;
  }

  img:hover {
    scale: 110%;
  }
}

.model-post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 2rem;
  margin-block: 0;
  padding: 2rem;
  overflow-x: scroll;
  border-block: 1px solid black;
  background-color: #1f1f1f99;
  list-style: none;

  h3 {
    display: table;
    justify-content: center;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-block: 0.125rem;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #1f1f1f;
  }

  a {
    color: white;
    text-decoration: none;
  }

  img {
    max-height: 480px;
    border: 1px solid white;
    border-radius: 0.75rem;
  }

  img:hover {
    scale: 110%;
  }
}
