h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 2rem;
  color: white;
  background-color: #1f1f1f99;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 2rem;

  img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border: 1px solid black;
    border-radius: 100%;
  }

  .biography {
    padding: 1rem;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    color: white;
    background-color: #1f1f1f;
    border: 1px solid black;
  }
}

.description-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  padding: 1rem;
  border-radius: 0.75rem;
  color: white;
  background-color: #1f1f1f;
}

.document-post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 2rem;
  overflow-x: scroll;
  margin-block: 0;
  padding: 2rem;
  list-style-type: none;
  background-color: #1f1f1f99;
  border-block: 1px solid black;

  img {
    max-height: 480px;
    border: 1px solid white;
    border-radius: 0.75rem;
  }

  img:hover {
    scale: 110%;
  }
}

.model-post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 2rem;
  overflow-x: scroll;
  margin-block: 0;
  padding: 2rem;
  list-style: none;
  background-color: #1f1f1f99;
  border-block: 1px solid black;

  img {
    max-height: 480px;
    border: 1px solid white;
    border-radius: 0.75rem;
  }

  img:hover {
    scale: 110%;
  }
}
