body {
  margin: 0;
}

header {
  padding: 0.1rem;
  background-color: #1f1f1f;
  border-block: 1px solid black;

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    color: white;

    h1 {
      padding-inline: 2rem;
      font-size: 3.25rem;
      margin: 0;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.1rem;
  margin: auto;
  color: white;
  background-color: #1f1f1f;
  border-block: 1px solid black;
}

.fa-brands {
  font-size: 2.25rem;
}
