body {
  margin: 0;
  background-color: #222;
}

header {
  padding: 0.1rem;
  border-block: 1px solid black;
  background-color: #1f1f1f;

  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    color: white;

    h1 {
      padding-inline: 2rem;
      font-size: 3.25rem;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        color: white;
      }
    }
  }
}