<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Compass theme</title>
    <script type='text/javascript' src='https://www.x3dom.org/download/x3dom.js'> </script>
    <link rel='stylesheet' href='/assets/css/x3dom.css'></link>
    <link rel='stylesheet' href='/assets/css/model-post.css'></link>
  </head>
  <body>
    <script src="https://kit.fontawesome.com/b40ef46d77.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/assets/css/bundle.css'></link>
<link rel='stylesheet' href='/assets/css/compass-theme.css'></link>
<header>
  <div class="page-header">
    <a href="/">
      <h1>Allie Gonzales</h1>
    </a>
    <div>
      <a href="https://github.com/EvokeMadness">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/allie-gonzales-8a1954209/">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://linktr.ee/EvokeMadness">
        <i class="fa-brands fa-linktree"></i>
      </a>
    </div>
  </div>
</header>
    <h1></h1>
    <h2></h2>
        <x3d width='480px' height='480px'> 
            <scene> 
                <inline url="/posts/model-posts/[ POST ]/preview.x3d"></inline>
            </scene> 
        </x3d>
    <footer class="site-footer">
     <p>© 2026 EvokeMadness</p>
</footer>
  </body>
</html>