<script
  src="https://kit.fontawesome.com/b40ef46d77.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="/css/compass-theme.css" />
<link rel="stylesheet" href="/css/index.css" />
<header>
  <div class="page-header">
    <a href="/">
      <h1 style="font-size: 2.75rem; margin: 1rem">
        {{ metadata.author.name }}
      </h1>
    </a>
    <div>
      {% for link in metadata.author.links %}
      <a href="{{ link.link }}">
        <i class="{{ link.icon }}"></i>
      </a>
      {% endfor %}
    </div>
  </div>
  <p
    style="
      display: none;
      justify-content: center;
      margin: 0;
      color: white;
      background-color: darkred;
    "
  >
    Under construction! 🚧
  </p>
</header>
