---
layout: layouts/base.html
---
<link rel="stylesheet" href="/css/content.css" />
<script
  defer
  type="text/javascript"
  src="https://unpkg.com/x3dom@1.8.3/x3dom.js"
></script>
<script src="https://unpkg.com/commonmark@0.29.3/dist/commonmark.js"></script>

<div class="content-README">
  <div class="content">{{ content }}</div>
  <div class="README">{% include "commonmark.html" %}</div>
</div>
<div class="file-preview" style="width: 480px;">
  <h1>Model Preview</h1>
  {% include "x3d.html" %}
</div>
